@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500&family=Poppins&family=Roboto:wght@700&display=swap");

/* mobile site */
body {
  margin: 0;
}

.navibar {
  background-color: #3e3c3c;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 600;
  font-family: "Inter", serif;
  font-size: 15px;
  line-height: 20px;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  height: 60px;
}

.jsmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 40px;
  padding-right: 15px;
}

.ul-div {
  display: none;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  top: 50px;
  transition: all 0.5s;
  background: #3e3c3c;
}

.navilist {
  display: flex;
  flex-direction: column;
}

.navi-item {
  text-align: left;
}

.navilist li a {
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-bottom: 1px solid #fff;
}

.ul-div ul {
  flex-direction: column;
  padding-right: 35px;
}

.ul-div.active {
  display: flex;
}

.cancel-img {
  display: none;
  width: 50px;
  height: 50px;
  align-self: flex-end;
  padding-right: 50px;
}

.mailimg {
  display: none;
}

.main {
  background-color: #1c1a19;
}

.hamburger {
  padding-right: 15px;
  padding-bottom: 20px;
}

.name {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 15px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

.name.disabled {
  display: none;
}

.name:hover {
  font-size: 25px;
}

.introduction {
  color: #f55800;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
  padding-top: 120px;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  margin-bottom: 10px;
  height: 124px;
  top: 120px;
  animation: flipper 3s ease-in-out 0s 1;
}

@keyframes flipper {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.3;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.7;
  }
}

.occupation {
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  padding-left: 24px;
  padding-top: 10px;
  margin-bottom: 0;
}

.services {
  color: #f4f5f7;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  margin-top: 0;
  padding-right: 15px;
}

i {
  color: white;
  font-size: 20px;
}

.submain {
  background-image: url(Images/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 70%;
  background-size: 35%;
  padding-bottom: 311px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

li {
  display: inline-flex;
  flex-direction: column;
  padding-left: 12px;
}

.ul-div ul li {
  text-align: center;
}

 .modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80%;
  margin-left: 30px;
  padding-left: 16px;
  background-color: #fff;
}

.modalContainer p {
  color: #1c1a19;
  font-family: "Inter", serif;
  font-weight: 400;
  padding-right: 16px;
}

.snapshot-btn {
  background: #ff6b00;
  color: #fff;
  height: 48px;
  width: 150px;
  left: 0;
  top: 259px;
  border-radius: 0;
  border: 0 none;
  padding: 12px;
  font-family: "Inter", serif;
  font-size: 16px;
  transition-duration: 1s;
  transition-delay: 0.5s;
  margin-left: 10px;
}

.snapshot-btn1 {
  background: #ff6b00;
  color: #fff;
  height: 48px;
  width: 140px;
  left: 0;
  top: 259px;
  border-radius: 0;
  border: 0 none;
  padding: 12px;
  font-family: "Inter", serif;
  font-size: 16px;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.snapshot-img {
  height: 33vh;
  width: 72vw;
}

.popbtn {
  font-family: "Inter", serif;
  background-color: #fff;
  border: 1px solid #1c1a19;
  box-sizing: border-box;
  width: 49px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.multih2 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 32px;
}

.mid-part {
  padding-left: 20px;
  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 120px;
}

.recentwork {
  align-content: center;
  font-family: "Crete Round", serif;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.balay {
  padding-top: 70px;
  width: 310px;
}

.multipost {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
}

p {
  font-family: "Crete Round", serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.singular-p {
  font-family: "Crete Round", serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.multiple-p {
  font-family: "Inter", serif;
  padding-left: 10px;
  padding-right: 10px;
}

.languages {
  padding-left: 0;
}

.btn {
  font-family: "Inter", serif;
  background-color: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  width: 49px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.boot {
  width: 95px;
}

.see {
  background: #ff6b00;
  color: #fff;
  height: 48px;
  width: 124px;
  left: 0;
  top: 259px;
  border-radius: 0;
  border: 0 none;
  padding: 12px;
  font-family: "Inter", serif;
  font-size: 18px;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.pro {
  width: 327px;
}

.see:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px #f55800;
}

.see:active {
  background: #e05304;
  color: #fff;
  border: 0 none;
}

.see:disabled {
  background: #f4f1f0;
  color: #5b5957;
  border: 0 none;
}

.probtn {
  background: #ff6b00;
  color: #fff;
  height: 48px;
  width: 124px;
  left: 0;
  top: 259px;
  border-radius: 0;
  border: 0 none;
  padding: 12px;
  font-family: "Inter", serif;
  font-size: 18px;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.probtn:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px #f55800;
}

.probtn:active {
  background: #e05304;
  color: #fff;
  border: 0 none;
}

.probtn:disabled {
  background: #f4f1f0;
  color: #5b5957;
  border: 0 none;
}

.professional-btn {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  background-image: url(Images/grid-template.png);
  background-repeat: no-repeat;
}

.multi {
  display: flex;
  flex-direction: column;
  background-image: none;
}

.grid-container {
  display: grid;
  grid-gap: 40px;
}

.about-me {
  background-color: #1c1a19;
  background-image: url(Images/illustration-about-me.png);
  background-repeat: no-repeat;
  background-position: 100% 30%;
}

.about {
  color: #f55800;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
  padding-top: 120px;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  margin-bottom: 10px;
  height: 124px;
  top: 120px;
}

.abouthr {
  width: 90%;
}

.btnresume {
  background: #ff6b00;
  color: #fff;
  height: 48px;
  width: 180px;
  left: 0;
  top: 259px;
  border-radius: 0;
  border: 0 none;
  padding: 12px;
  font-family: "Inter", serif;
  font-size: 18px;
  margin-left: 24px;
  margin-bottom: 325px;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.btnresume:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px #f55800;
}

.btnresume:active {
  background: #e05304;
  color: #fff;
  border: 0 none;
}

.btnresume:disabled {
  background: #f4f1f0;
  color: #5b5957;
  border: 0 none;
}

.main-ul {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", serif;
}

.skills {
  padding-left: 60px;
  padding-bottom: 100px;
}

.skills2 {
  padding-left: 50px;
}

.lang {
  padding-left: 50px;
}

.headli {
  padding-right: 40px;
  font-size: 32px;
  color: #fff;
}

.alignim {
  padding-left: 20px;
  font-size: 32px;
  display: inline-flex;
}

.rectangle55 {
  width: 18px;
  height: 18px;
}

.rectangle56 {
  width: 18px;
  height: 18px;
}

.rectangle57 {
  width: 18px;
  height: 18px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 90%;
  row-gap: 15px;
}

.input-container input {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 15px;
}

#name,
#email {
  border: 1px solid white;
  border-bottom: 1px solid #dbd8d7;
  padding-bottom: 8px;
}

#messagebox {
  background-color: #fbf8f7;
  border: 1px solid white;
  color: black;
  padding: 12px;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 15px;
}

.footer-p {
  color: black;
  padding: 50px 24px;
  font-size: 34px;
  text-align: center;
  font-family: "Inter", serif;
  font-weight: 700;
  line-height: 44px;
}

.touchbtn {
  width: 131px;
  height: 41px;
  align-self: center;
  background-color: #ff6b00;
  color: white;
  border: none;
  font-family: "Inter", serif;
  font-weight: 700;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.touchbtn:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px #f55800;
}

.touchbtn:active {
  background: #e05304;
  color: #fff;
  border: 0 none;
}

.touchbtn:disabled {
  background: #f4f1f0;
  color: #5b5957;
  border: 0 none;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 0;
  border-top: 1px solid #dbd8d7;
}

.footer-icons i {
  color: #505f79;
  padding: 20px 0;
}

form {
  padding-bottom: 100px;
}

@media (min-width: 992px) {
  /* desktop site */
  .hamburger {
    display: none;
  }

  .navilist {
    display: flex;
    padding-right: 100px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 15px;
    column-gap: 25px;
  }

  .ul-div {
    display: flex;
    flex-direction: row;
    width: 40%;
    position: relative;
    top: 0;
    height: 50px;
  }

  .ul-div ul {
    flex-direction: row;
  }

  .hr-menu {
    display: none;
  }

  .jsmenu {
    display: none;
  }

  .balay {
    padding: 0;
    flex: 1.5 1.5 60%;
  }

  .stories {
    flex: 1.5 1.5 40%;
  }

  .navi-item {
    text-decoration: none;
    color: #fff;
  }

  .name {
    font-size: 20px;
  }

  .services {
    width: 40%;
  }

  .introduction {
    font-size: 72px;
  }

  .occupation {
    font-size: 32px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 15px;
    margin-bottom: 70px;
  }

  .submain {
    flex-direction: row-reverse;
    background-size: 45%;
    background-image: url(Images/Illustration-header.png);
    background-position: 100% -20%;
    padding-bottom: 150px;
  }

  .introtext {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .recentwork {
    border-bottom: 0;
    flex: 2;
    width: 100%;
  }

  .recentdiv {
    display: flex;
  }

  .recent-title {
    align-items: center;
    display: flex;
    padding-bottom: 3rem;
    width: 100%;
  }

  .hrrecent {
    flex: 3;
    width: 100%;
  }

  .multi {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .multipost {
    margin-top: 0;
  }

  .see {
    width: 300px;
    display: none;
  }

  .mid-part {
    padding-left: 50px;
    padding-right: 50px;
  }

  .grid-item {
    width: 300px;
  }

  .card1 {
    display: none;
  }

  .card2 {
    display: none;
  }

  .card3 {
    display: none;
  }

  .card4 {
    display: block;
  }

  .card5 {
    justify-content: flex-end;
  }

  .gridder {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  .about-me {
    background-image: url(Images/aboutimg.png);
    background-position: 100% 17%;
    background-size: 50%;
  }

  .main-ul {
    text-align: left;
  }

  .lang {
    padding-left: 0;
  }

  .frame1 {
    padding-left: 0;
  }

  .skills2 {
    padding-left: 0;
  }

  .btnresume {
    margin-bottom: 100px;
  }

  .abouthr {
    width: 90%;
  }

  .footer-p {
    width: 400px;
    text-align: left;
  }

  .input-container {
    width: 500px;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }

  .footer-div {
    display: inline-flex;
    flex-direction: column;
  }

  .touchbtn {
    align-self: flex-start;
  }
}
