@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;200;300;400;500&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
}

.navibar {
  background-color: #3e3c3c;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  height: 60px;
}

.main {
  background-color: #1c1a19;
}

.hamburger {
  padding-right: 15px;
  padding-bottom: 20px;
}

.name {
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: 'Roboto', serif;
  font-weight: 700;
}

.introduction {
  color: #f55800;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
  padding-top: 120px;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  margin-bottom: 10px;
  height: 124px;
  top: 120px;
}

.occupation {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  padding-left: 24px;
  margin-bottom: 0;
}

.services {
  color: #fff;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  margin-top: 0;
  padding-right: 15px;
}

i {
  color: white;
  font-size: 20px;
}

.submain {
  background-image: url(Images/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 70%;
  background-size: 35%;
  padding-bottom: 311px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

li {
  display: inline-flex;
  flex-direction: column;
  padding-left: 12px;
}

.mid-part {
  padding-left: 20px;
  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 120px;
}

.recentwork {
  align-content: center;
  font-family: 'Crete Round', serif;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 50px;
  padding-top: 20px;
  border-bottom: 1px solid #212121;
  padding-bottom: 30px;
}

.balay {
  width: 310px;
}

.multipost {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
}

p {
  font-family: 'Crete Round', serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.singular-p {
  font-family: 'Crete Round', serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.multiple-p {
  font-family: 'Inter', serif;
  padding-left: 10px;
  padding-right: 10px;
}

.languages {
  padding-left: 0;
}

.btn {
  font-family: 'Inter', serif;
  background-color: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  width: 49px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.boot {
  width: 95px;
}

.see {
  background: #ff6b00;
  color: #fff;
  height: 48px;
  width: 124px;
  left: 0;
  top: 259px;
  border-radius: 0;
  border: 0 none;
  padding: 12px;
  font-family: 'Inter', serif;
  font-size: 18px;
}

.pro {
  width: 320px;
}

.see:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px #f55800;
}

.see:active {
  background: #e05304;
  color: #fff;
  border: 0 none;
}

.see:disabled {
  background: #f4f1f0;
  color: #5b5957;
  border: 0 none;
}

.professional-btn {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  background-image: url(Images/grid-template.png);
}

.multi {
  display: flex;
  flex-direction: column;
  background-image: none;
}

.grid-container {
  display: grid;
  grid-gap: 40px;
}

.about-me {
  background-color: #1c1a19;
  background-image: url(Images/illustration-about-me.png);
  background-repeat: no-repeat;
  background-position: 100% 30%;
}

.about {
  color: #f55800;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
  padding-top: 120px;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  margin-bottom: 10px;
  height: 124px;
  top: 120px;
}

.btnresume {
  background: #ff6b00;
  color: #fff;
  height: 48px;
  width: 180px;
  left: 0;
  top: 259px;
  border-radius: 0;
  border: 0 none;
  padding: 12px;
  font-family: 'Inter', serif;
  font-size: 18px;
  margin-left: 24px;
  margin-bottom: 325px;
}

.btnresume:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px #f55800;
}

.btnresume:active {
  background: #e05304;
  color: #fff;
  border: 0 none;
}

.btnresume:disabled {
  background: #f4f1f0;
  color: #5b5957;
  border: 0 none;
}

.main-ul {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding-bottom: 20px;
  font-family: 'Inter', serif;
}

.headli {
  padding-right: 40px;
  font-size: 32px;
  color: #fff;
}

.alignim {
  padding-left: 20px;
  font-size: 32px;
  display: inline-flex;
}

.rectangle55 {
  width: 18px;
  height: 18px;
}

.rectangle56 {
  width: 18px;
  height: 18px;
}

.rectangle57 {
  width: 18px;
  height: 18px;
}
